<%- include("partials/head", {styles: ['styles-home', 'style-carrito']}) %>
<body>
    <%- include("partials/header) %>
    <p>Ordenar por: Desarrollar para que se pueda organizar</p>
    <div>
        <% locals.NOMBRE-OBJETO-BD && NOMBRE-OBJETO-BD.forEach ( (contenido) => { %>                   
                    <img src="/img/RUTA-HASTA-LLEGAR-PRODUCTO">
        <% }) %>
    </div>
</body>