<%- include("partials/head", {styles: ['headerStyle']}) %>
<body>
    <a href="/"><img src="../../public/img/YALAVIlogo.png" alt="YALAVI"></a>
    <form action="">
        <div class="input"></div>
        <div class="submit">Buscar</div>
    </form>
    <ul>
        <li><a href="/">INICIAR SESION</a></li>
        <li><a href="/">REGISTRARSE</a></li>
    </ul>
    <ul>
        <li><a href="/">PELICULAS</a></li>
        <li><a href="/">SERIES</a></li>
        <li><a href="/">PROGRAMA DE TV</a></li>
        <li><a href="/">DOCUMENTALES</a></li>
    </ul>