<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/headerStyle.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <a href="/"><img src="../../public/img/YALAVIlogo.png" alt="YALAVI"></a>
    <form action="">
        <div class="input"></div>
        <div class="submit">Buscar</div>
    </form>
    <ul>
        <li><a href="/">INICIAR SESION</a></li>
        <li><a href="/">REGISTRARSE</a></li>
    </ul>
    <ul>
        <li><a href="/">PELICULAS</a></li>
        <li><a href="/">SERIES</a></li>
        <li><a href="/">PROGRAMA DE TV</a></li>
        <li><a href="/">DOCUMENTALES</a></li>
    </ul>
</body>
</html>