<body>
    <div class="navbar">
        <div class="navbar-izq">
            <a href="/"><img src="/img/YALAVIlogo.png" alt="YALAVI"></a>
        </div>
        <div class="navbar-der">
            <div class="navbar-superior">
                <form action="">
                    <div class="input"></div>
                    <div class="submit">Buscar</div>
                </form>
                <ul>
                    <li><a href="/">INICIAR SESION</a></li>
                    <li><a href="/">REGISTRARSE</a></li>
                </ul>
            </div>
            <ul>
                <li><a href="/">PELICULAS</a></li>
                <li><a href="/">SERIES</a></li>
                <li><a href="/">PROGRAMAS DE TV</a></li>
                <li><a href="/">DOCUMENTALES</a></li>
            </ul>
        </div>    
    </div>